h1 {
    color:navy;
    font-family:monospace;
}
h2 {
    color:navy;
    font-family:monospace;
}
h3 {
    color:blue;
    font-family:monospace;
}
h4 {
    color:blue;
    font-family:monospace;
}
body {
    color:lightseagreen;
    font-family:monospace;
    font-size:2em;
}
dt {
    color: green;
    font-family:monospace;
}